header {
    display: flex;
    background-color: white;
}

header h1 {
    grid-column: 1 / span 2;
    padding: 75px 0;
}

header img {
   /* First Edit 
   padding: 25px;
    width: 200px;
    height: auto; */
    flex: 1 1 auto; 
}

h1 {
    font-weight: 600;
    font-size: 18px;
    color: #4a675a;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 599px;
    background-color: #4a675a;
      
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  }
  
  nav ul li { 
      list-style-type: none;
      border-bottom: 2px solid white;
      padding: 5px;
    
  } 
  

  /* Change the link color on hover */
  li a:hover {
    background-color: #4a675a;
    color: white;
  }

body {
    max-width: 599px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    width: 50%;
}

h3 {
  font-weight: 400;
  font-size: 42px;
  color: #29221d;
  text-align: center;  
}

p {
  color: #29221d;
}

footer {
    background-color: #4a675a;
    height: 50px;
}

.footer_info {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
  
  
        