body {
    margin: auto;
    width: 50%;
}

.images {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
}

img [data-src] {
filter: blur(.2em);
}

img {
    filter: blur(0em);
    transition: fliter .2s;
}