table {
	margin: 10px auto;
	border: thin solid hsl(0,0,20%);
	box-shadow: 0 0 30px hsl (0,0,50%);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: #7c91a5;
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color:  #d7aa6d;;
	color: #FFFF;
}

th, td {
	padding: 7px 15px;
	border: 1px solid #808080;
}

th {
	background-color:  #7c91a5;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: #DBE8F5;
}
