h1 {
    font-size: 72px;
}

h2 {
    font-size: 30px;
}

body {
    min-width: 751px;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.visual_hierarchy .contrast .alignment{
    align-items: center;
}