@media (max-width: 799) {

    h1 {
    font-size: 72px;
    }

    h2 {
    font-size: 30px;
    }

    body {
    max-width: 799px;
    }
    .grid_container {
    display: grid;
    grid-template: 1 fr 1fr/ 1fr 1fr 1fr;
    grid-column: 1 / span 2;
    grid-gap: 20px;
    padding: 20px;
    }

    
