h1 {
    font-size: 72px;
}

h2 {
    font-size: 30px;
}

body {
    max-width: 750px;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.visual_hierarchy .contrast{
    align-items: center;
}

.alignment{
    align-items: center;
}