@media (min-width:600px) and (max-width:799px) {

    h1 {
    font-size: 72px;
    }

    h2 {
    font-size: 30px;
    }

    body {
    max-width: 799px;
    }

    .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: top;
    }

    .grid_container .alignment {
    grid-column: span 2;
    }

}