* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: #29221d;
  margin: 0;
  width: 100%;
}

header {
  background-color: #4a675a;
  width: 100%;
}


h1 {
  font-weight: 600;
  color: #fff;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: .75em;
  margin: 0;
}

h3 {
  text-align: center;
  color: #51433a;
  font-size: 1.5em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
  padding: .5em;
  margin: 0;
}

a { 
  color: white;
  text-decoration: none;
}

#banner {
  background-color: #c3b393;
  font-size: .5em;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

/* ////// NAVIGATION //////// */
nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: black;
}

nav {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  color: #29221d;
}

.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: 1rem 2vw;
  font-weight: 600;
  text-decoration: none;
  color: #29221d !important;
  border-top: 1px solid rgba(0, 0, 0, .5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: #c3b393;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display:none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display:block;
}
/* ********************* */

/* //////HEADER//////// */
#banner {
  font-size: 1em;
  font-style: italic;
  padding: 1%;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo_header {
  width: 100%;
  height: auto;
  padding: 25px;
  float: left;
}
.logo_header img {
  width: 60%;
}

.title h1 {
  font-size: 1.25em;
  margin: 0;
}

.social_media {
  display: flex;
  padding: 25px;
  }

.facebook {
  padding: 5%;
  margin: 0 5px 0 0;
  font-size: .75em;
  }

.linkedin {
  padding: 5%;
  margin: 0 0 0 5px;
  font-size: .75em;
}

.current_date {
  background-color: #d8e1d3;
  font-size: 1em;
  padding: 2%;
  text-align: center;
}
/* ********************* */

/* ////// MAIN //////// */
main .home{ 
  display: grid;
  grid-template-columns: 1fr;
  font-weight: 400;
  align-items: center;
}

.hero {
  position: relative;
  align-items: center;
  text-align: center;
  width: auto;
  margin: 0px;
}

#valley_image {
  background-image: none;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.hero_image {
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hero_image img {
  width: 100%;
}

 .home .welcome {
  position: absolute;
  top: 100px;
  left: calc(50% - 225px);
  font-size: 2em;
  color: #29221d;
}

.join_btn {
  position: absolute;
  top: 200px;
  left: calc(50% - 89px);
  color: #fff;
  background-color: #4a675a;
  border-radius: 15px;
  padding: 15px 15px;
  color: #fff;
}

/* EVENT */
.event {
  background-color: #d8e1d3;
  text-align: center;
  line-height: 1.5em;
  padding: 25px;
  width: 100%;
  margin: 20px 0 0 0;
}

#event_icon {
  width: 100px;
  height: auto;
}

/* WEATHER */
.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d8e1d3;  
  margin: 20px 0 0 0;
  width:75%;
  justify-content: space-evenly;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.weather h3 {
  grid-column: 1 / span 2;
}

  .weather #current {
  grid-column: 1 / span 2;
  border-bottom: 2px solid #29221d;
  border-top: 2px solid #29221d;
  font-style: italic;
  line-height: 1.5em;
  padding: 10px 20px 10px 20px;
  margin: 0 20px 0 20px;
}

.weather h2 {
  font-size: 2.5em;
  color: #4a675a;
  align-self: center;
}

.weather figcaption {
  text-transform: capitalize;
}

.weather figure {
  margin: auto;
  width: 75px;
  padding: 0;
}

.weather figure img {
  width: 100%;
}

.weather p {
  font-weight: 600;
  padding: 1em;
}


/* NEWS RELEASE */
.news_release {
  background-color: #d8e1d3;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  margin: 20px 0px 0 0px;
  padding: 25px;
}

/* JOIN */
.join {
  display: none;
  background-color: #d8e1d3;
  align-items: center;
}

.join h3 {
    background-color: #4a675a;
    color: white !important;
    border-radius: 15px;
    width: 80%;
    font-size: 1.5em; 
    align-items: center;
    padding: 15px 15px;
    margin-right: auto;
    margin-left: auto;
}

.join p {
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* SPOTLIGHT CONTAINER */
.spotlight_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #d8e1d3;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  align-items: center;
}

/* SPOTLIGHT 1 */
.spotlight_main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  width: 75%;
  margin: 10px 0px 10px 0px;
  align-items: center;
}

.spotlight_main h3 {
  font-size: 1.5em;
}

.spotlight_main p {
  margin: auto;
  padding: .25em;
}

.spotlight_main img {
  width: 100%;
  height: auto;
}

/* SPOTLIGHT 3 */
.spotlight3 {
  display: none;
} 

/* ********************* */

/* ////// FOOTER //////// */

footer {
   background-color: #4a675a;
}

.logo_footer {
  width: 20%;
  height: auto;
  padding: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.footer_info {
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.base_footer {
  color: #fff;
  text-align: center;
  font-size: .9em;
  padding: 0;
  margin: 0;
}

.base_footer a {
  color: white;
}

.modified_date {
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  margin: 0 0 10px 0;
}
/* ********************* */

/* ////// DISCOVER PAGE //////// */
main .discover_page {
  display: flex;
  flex-direction: column;
  margin: 20rem;
}

.discover_page h1 {
  text-align: center;
  color: #29221d;
  padding: 5%;
  margin: 0;
}

.directory-page article h3 {
  color: #29221d;
}

.discover_page article {
  width: 80%;
  margin: 0 auto;
}

.discover_page picture img {
 width: 100%;
 height: auto;
 padding: 0;
}

.discover_page p {
  text-align: left;
  line-height: 1.5em;
  padding: 1rem;
}

.discover_page #visit h2 {
  padding-bottom: 1rem;
  font-style: italic;
}

/* ////// JOIN PAGE //////// */

.join-page h1 {
  color: #29221d;
  margin-left: 2rem;
}

  .join-page p {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5em;
}

  .join-page h3 {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  background-color: #d8e1d3;
  color: #29221d;
  padding: .5rem;
}

form fieldset {
    margin: 2rem;
    border: 1px solid #29221d;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #29221d;
    font-weight: 600;
    margin: 0 2rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #4a675a;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #29221d;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
}

form label.top::placeholder {
  justify-content: start;
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
}

form input[type="radio"] { 
  margin-right: 10px;
}

.join-page #nonprofit #bronze #silver #gold {
  padding-top: 0;
}

form input.submitBtn {
    border: none;
    background-color: #4a675a;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2rem;
    width: 50%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: #4a675a solid 6px;
}

/* ////// FORM CLEARFIX //////// */
.join-page form .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ////// THANK YOU PAGE //////// */
.thanks-page h1 {
  color: #29221d;
  text-align: center;
  margin: 1rem;
}

  .thanks-page p {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5em;
  text-align: center;
}

  .thanks-page h3 {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  color: #29221d;
  font-style: italic;
  text-align: center;
  padding: .5rem;
}

.thanks-page article {
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.thanks-page article picture img {
  width: 100%;
  height: auto;
}

/* ////// BUSINESS DIRECTORY PAGE //////// */
.directory-page {
  margin: 1rem;
}

.page-title h1 {
  text-align: center;
  font-size: 1.5em;
  background-color: #d8e1d3;
  color: #29221d;
  padding: .5rem;
} 

.directory-page .viewBtns {
  padding: 1em;
  color: #29221d;
  text-align: center;
  align-items: center;
}

.viewBtns button {
	border-radius: 15px;
  padding: 20px 20px;
  padding: .5rem;
}

.directory-page button:hover {
  background-color: #c3b393;;
}

.directory-page a {
  color:#29221d;
  text-decoration: none;
}


..directory-page h2 {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  padding: .5em;
}

.directory-page p {
  font-size: .75em;
  padding: .25em;
}

/* Images */
.directory-page img {
	height: 150px;
	max-width: 100%; 
}

.directory-page .cards section {
  margin: 0.25rem;
  padding: 1rem;
  background-color: #f3f0e9;
  border: 6px solid #29221d;
  align-items: center;
  text-align: center;
 }
 
 .directory-page .grid .cards {
	display: grid;
  grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid .cards section {
	flex-direction: column;
	text-align: center;
}

.grid .cards section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: column;
	justify-content: space-evenly;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; 
}

/* ////// CONTACT PAGE //////// */

  #contact-us {
  color: #29221d;
  background-color: #d8e1d3;
  text-align: left;
  margin: 2rem; 
  padding: 1rem;
}

#contact-us h1 {
  text-align: left;
  margin-left: 1.5rem;
}

#contact-us h2 {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  margin-left: 2rem;
}
  .contact-page p {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5em;
}

  #contact-us p {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: .75em;
    line-height: 1.5em;
  }


  .contact-page picture img {
    width: 100%;
  }

  hr {
    color: #29221d;
  }




