* {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Navigation */
  nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
  }

  nav {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul .open {
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #4a675a;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,.2);
    color: #fff:
}

nav ul li a:hover {
    background-color: #fff;
}

nav ul li.active a {
    background-color: rgba(0,0,0,.2);
    color: #fff:
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display:none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display:block;
}
  /* ********************* */

  header {
    background-color: #4a675a;
    padding: 0;
  }

  header .title {
    display: flex;
    flex-direction: columns;
    align-items: center;
  }

  #logo_header {
    width: 25%;
    height: auto;
    padding: 25px;
  }

  h1 {
      font-weight: 600;
      color: #fff;
      
  }

  #location {
    font-size: .5em;
    padding: 10px 0px;
  }

  #facebook_icon {
    width: 3em;
    height: auto;
    font-size: .75em;
    margin: 0px 20px 20px 20px;
  }
  
  #linkedin_icon {
    width: 3em;
    height: auto;
    font-size: .75em;
    margin: 0px 0px 20px 0px;
  }

  .current_date {
    background-color: #d8e1d3;
    size: 1em;
    padding: .75em;
  }

  h4 {
    font-weight: 400;
    padding: .5em;
    margin: 0;
  }
  
  main {  display: grid;
      grid-template-columns: 1fr;
    font-weight: 400;
  }

  body { 
    font-size: 16px;
    font-weight: 400;
  }
  
  .call_to_action {
    background-color: #d3d3d3;
    height: 200px;
    width: auto;
    padding: 25px;
    margin: 40px;
  }
  
  .event {
    background-color: #d3d3d3;
    height: 200px;
    width: auto;
    padding: 25px;
    margin: 20px 40px;
  }
  
  .weather {
    background-color: #d3d3d3;
    height: 200px;
    width: auto;
    padding: 25px;
    margin: 20px 40px;
  }
  
  .news_release {
    background-color: #d3d3d3;
    height: 200px;
    width: auto;
    padding: 25px;
    margin: 20px 40px;
  }

  .join {
    display: none;
  }
  
  .spotlight_container {
    background-color: #d3d3d3;
    height: 350px;
    width: auto;
    padding: 25px;
    margin: 20px 40px;
  }
  
  #spotlight_1 {
    background-color: #fff;
    height: 100px;
    padding: 25px;
    margin: 20px;
    width: auto;
  }
  
  #spotlight_2 {
    background-color: #fff;
    height: 100px;
    padding: 25px;
    margin: 20px;
    width: auto;
  }

  #spotlight_3 {
    display: none;
  }
  
  footer {
     background-color: #4a675a;
     display: grid;
     grid-template-rows: 1fr .25fr;
  }
  
  .footer_info {
    color: #fff;
    text-align: center;
    line-height: 1.5;
  }

  #logo_footer {
    width: 20%;
    height: auto;
}

  .base_footer {
    color: #fff;
    text-align: center;
    font-size: .9em;
    padding: 0;
    margin: 0;
  }

  