* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: #29221d;
  margin: 0;
}

header {
  background-color: #4a675a;
  width: 100%;
}


h1 {
  font-weight: 600;
  color: #fff;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: .75em;
  color: #fff;
  margin: 0;
}

h3 {
  text-align: center;
  color: #51433a;
  font-size: 1.5em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
  padding: .5em;
  margin: 0;
}

#banner {
  background-color: #c3b393;
  font-size: .5em;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

/* ////// NAVIGATION //////// */
nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: black;
}

nav {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  color: #29221d;
}

.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: 1rem 2vw;
  font-weight: 600;
  text-decoration: none;
  color: #29221d !important;
  border-top: 1px solid rgba(0, 0, 0, .5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: #c3b393;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display:none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display:block;
}
/* ********************* */

/* //////HEADER//////// */
.title {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo_header {
  width: 100%;
  height: auto;
  padding: 25px;
  float: left;
}

.title h1 {
  font-size: 1em;
  margin: 0;
}

.social_media {
  display: flex;
  padding: 25px;
  }

.facebook {
  padding: 5%;
  margin: 0 5px 0 0;
  font-size: .75em;
  }

.linkedin {
  padding: 5%;
  margin: 0 0 0 5px;
  font-size: .75em;
}

.current_date {
  background-color: #d8e1d3;
  size: 1em;
  padding: 2%;
  text-align: center;
}
/* ********************* */

/* ////// MAIN //////// */
main { 
  display: grid;
  grid-template-columns: 1fr;
  font-weight: 400;
  align-items: center;
}

.hero {
  position: relative;
  align-items: center;
  width: auto;
  margin: 0px;
}

#valley_image {
  background-image: none;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.heroimg {
  width: 100%;
  justify-content: center;
}

 .welcome {
  position: absolute;
  top: 50px;
  font-size: 2em;
  color: #29221d;
}

.join_btn {
  position: absolute;
  top: 200px;
  left: 150px;
  color: #fff;
  background-color: #4a675a;
  border-radius: 15px;
  size: 50px;
  padding: 15px 15px;
  color: #fff;
}

/* EVENT */
.event {
  background-color: #d8e1d3;
  text-align: center;
  line-height: 1.5em;
  padding: 25px;
  width: 100%;
  margin: 20px 0 0 0;
}

#event_icon {
  width: 100px;
  height: auto;
}

/* WEATHER */
.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d8e1d3;  
  margin: 20px 0 0 0;
  width:75%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.weather h3 {
  grid-column: 1 / span 2;
  padding: 0;
}

#weather_icon {
  grid-column: 1;
  width: 125px;
  height: auto;
  padding: 20%px;
  margin: 0 0 0 15%;
}

.weather h2{
  padding: 20%;
  font-size: 2em;
}

#weather_information {
 grid-column: 1 / span 2;
 font-weight: 600;
 border-top: 2px solid #29221d;
 border-top-width: 75%;
 padding-top: 10px;
}

/* NEWS RELEASE */
.news_release {
  background-color: #d8e1d3;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  margin: 20px 0px 0 0px;
  padding: 25px;
}

/* JOIN */
.join {
  display: none;
  background-color: #d8e1d3;
  align-items: center;
}

.join h3 {
    background-color: #4a675a;
    color: white !important;
    border-radius: 15px;
    width: 80%;
    font-size: 1.5em; 
    align-items: center;
    padding: 15px 15px;
    margin-right: auto;
    margin-left: auto;
}

.join p {
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* SPOTLIGHT CONTAINER */
.spotlight_container {
  display: flex;
  flex-direction: column;
  background-color: #d8e1d3;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  align-items: center;
}

.caption {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.spotlight_information {
  text-align: center;
  line-height: 1.5em;
  border-top: 2px solid #29221d;
  padding: 5px;
}

/* SPOTLIGHT 1 */
.spotlight1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  width: 75%;
  margin: 10px 0px 0px 0px;
  align-items: center;
}

#icon1 {
  width: 100px;
  padding: 0;
  margin: 0;
}

/* SPOTLIGHT 2 */
.spotlight2 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  width: 75%;
  margin: 10px 0px 10px 0px; 
  align-items: center;
}

#icon2 {
  width: 100px;
  padding: 0;
  margin: 0;
}

/* SPOTLIGHT 3 */
.spotlight3 {
  display: none;
}

/* ********************* */

/* ////// FOOTER //////// */

footer {
   background-color: #4a675a;
}

footer .logo_header {
  margin-right: auto;
  margin-left: auto;
}

.footer_info {
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.base_footer {
  color: #fff;
  text-align: center;
  font-size: .9em;
  padding: 0;
  margin: 0;
}

.modified_date {
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  margin: 0 0 10px 0;
}
/* ********************* */
