@media (min-width:900px) {

/* Navigation */
nav button {
    display: none;
}

nav {
    padding: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }

nav ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: #fff; 
  }
  
nav ul li {
    flex: 1 1 100%;
    padding: 0px;
  }
   
  
nav ul li a {
      color: #4a675a;
     display: block;
      text-align: center;
      padding: 0.75rem;
      text-decoration: none;
      font-size: 0.95rem;
  }
  
  .active {
      color: black;
  }
/* **************************** */
#banner {
  font-size: 1.5em;
}

.logo_header img {
  width: 40%;
}

.title h1 {
  font-size: 2.5em;
  justify-content: center;
}

.logo_header {
  width: 40%;
}

.facebook {
  margin: 0 10px 0 0;
  }

.linkedin {
  margin: 0 0 0 10px;
  }
/* ////// MAIN //////// */
.home { 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  margin: 20px;
}

.hero {
  grid-column: 2;
  grid-row: 1 / span 2;
  margin: 0;
  width: 100%;
  height: 100%;
}

.hero_image {
  height: 100%;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.welcome {
  top: 100px;
  left: calc(50% - 225px);
}

/* EVENT */
.event {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  justify-content: center;
}

/* WEATHER */
.weather {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

/* JOIN */
.join {
  display: block;
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  align-items: center;
  justify-content: center;
}

/* NEWS RELEASE */
.news_release {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  margin: 0;
}

/* SPOTLIGHT  */
.spotlight_container {
  grid-column: 3;
  grid-row: 1 / span 3; 
  margin: 0;
}

.caption {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.spotlight_information {
  text-align: center;
  line-height: 1.5em;
  border-top: 2px solid #29221d;
  padding: 5px;
}

/* SPOTLIGHT 1 */
.spotlight1 {
  grid-column: 3;
  grid-row: 1;
  height: 75%;
}

/* SPOTLIGHT 2 */
.spotlight2 {
  grid-column: 3;
  grid-row: 2;
  height: 75%
}

/* SPOTLIGHT 3 */
.spotlight3 {
  grid-column: 3;
  grid-row: 3;
  display: grid;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  width: 75%;
  height: 75%;
  margin: 10px 0 0 0; 
  align-items: center;
}

/* //// FOOTER //// */
 

img.logo_footer {
  width: 10%;
  align-content: center;
}

.footer_info h2 {
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
}

/* ////// DISCOVER PAGE //////// */
main .discover_page {
  align-items: center;
  justify-content: center;
}

.discover_images picture img {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition: width 1.5s linear 1s;
}

.discover_images picture img:hover {
  width: 75%;
}

.discover_images h1 {
  color: #29221d;
  width: 100%;
  padding: 5%;
  margin: 0;
}

.discover_images p {
  text-align: left;
  line-height: 1.5em;
  padding: 5%;
}

.discover_page img:hover {
  transform: scale(0.9);
  border: 6px solid #29221d;
}

/* ////// JOIN PAGE //////// */
form label.top input, form label.top select {
  
  padding: .75rem;
  color: #29221d;
  width: 75%;
  max-width: 20rem;
  background-color: rgba(0,0,0,.1);
}

/* ////// THANK YOU PAGE //////// */
.thanks-page article {
  width: 60%;
}

/* ////// DIRECTORY PAGE //////// */
.list section {
	flex-direction: row;
	justify-content:space-evenly;
}

}