@media (min-width: 800px) {

/* Navigation */
nav button {
    display: none;
}

nav {
    padding: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }

nav ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: #fff; 
  }
  
nav ul li {
    flex: 1 1 100%;
    padding: 0px;
  }
   
  
nav ul li a {
      color: #4a675a;
     display: block;
      text-align: center;
      padding: 0.75rem;
      text-decoration: none;
      font-size: 0.95rem;
  }
  
  .active {
      color: black;
  }
/* **************************** */

/* ////// MAIN //////// */
main { 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.hero {
  grid-column: 2;
  grid-row: 1 /span 2;
  margin: 20px 20px 0 20px;
  width: auto;
  height: auto;
}

/* EVENT */
.event {
  grid-column: 1;
  grid-row: 1;
  margin: 20px 0 0 20px;
}

/* WEATHER */
.weather {
  grid-column: 1;
  grid-row: 2;
  margin: 20px 0 0 20px;
}

/* JOIN */
.join {
  display: block;
  grid-column: 1;
  grid-row: 3;
  margin: 20px 0 20px 20px;
}

/* NEWS RELEASE */
.news_release {
  grid-column: 2;
  grid-row: 3;
  margin: 20px 20px 20px 20px;
}

/* SPOTLIGHT CONTAINER */
.spotlight_container {
  grid-column: 3;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  background-color: #d8e1d3;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  align-items: center;
}

.caption {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.spotlight_information {
  text-align: center;
  line-height: 1.5em;
  border-top: 2px solid #29221d;
  padding: 5px;
}

/* SPOTLIGHT 1 */
.spotlight1 {
  height: 75%;
}

#icon1 {
  width: 75px;
}

/* SPOTLIGHT 2 */
.spotlight2 {
  height: 75%
}

#icon2 {
  width: 75px;
}

/* SPOTLIGHT 3 */
.spotlight3 {
  display: grid;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  width: 75%;
  height: 75%;
  margin: 10px 0 0 0; 
  align-items: center;
}

#icon3 {
  width: 75px;
  padding: 0;
  margin: 0;
}
}