@media (min-width:600px) and (max-width:899px) {

  /* ////// MAIN //////// */
main { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  align-items: first baseline;
  align-content: center;
}

.hero {
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 100%;
  align-items: first baseline;
  margin-right: auto;
  margin-left: auto;
}

.welcome {
  position: absolute;
  top: 100px;
  left: 100px;
}

.join_btn {
  top: 200px;
  left: 250px;
}

.hero_image {
  justify-content: center;
}

/* NEWS RELEASE */
.news_release {
  grid-column: 1 / span 3;
  grid-row: 2;
  margin: 20px 0px 0 0px;
  
}

/* SPOTLIGHT CONTAINER */
.spotlight_container {
  background-color: #d8e1d3;
  grid-column: 1 / span 3;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  grid-gap: 1em;
  width: 100%;
  margin: 20px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
  align-content: center;
}

/* SPOTLIGHT 2 */
.spotlight2 .caption {
  font-size: 1em;
}

/* JOIN */
.join {
  display: block;
  grid-column: 1 / span 3;
  grid-row: 4;
  width: auto;
}

.join h3 {
  margin-right: auto;
  margin-left: auto;
}

/* EVENT */
.event {
  grid-column: 1 / span 2;
  grid-row: 5;
  float: left;
  background-color: #d8e1d3;
  text-align: center;
  line-height: 1.5em;
  padding: 25px;
  width: 100%;
  margin: 20px 0 0 0;
}

/* WEATHER */
.weather {
  grid-column: 3;
  grid-row: 5;
  float: right;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0px;
  margin: 20px 0 0 0;
  align-items: center;
}

#degrees {
  padding: 0px;
  margin: 0;
  text-align: left;
}

#weather_icon {
  width: 100px;
  height: auto;
  padding: 0px;
  margin: 0;
}

}