@media (min-width:600px) and (max-width:799px) {

  /* ////// MAIN //////// */
main { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  align-items: center;
  align-content: center;
}

.hero {
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 100%;
}

.welcome {
  position: absolute;
  top: 100px;
  left: 100px;
}

.join_btn {
  top: 200px;
  left: 250px;
}

/* NEWS RELEASE */
.news_release {
  grid-column: 1 / span 3;
  grid-row: 2;
}

/* SPOTLIGHT CONTAINER */
.spotlight_container {
  background-color: #d8e1d3;
  grid-column: 1 / span 3;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  grid-gap: 1em;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  align-content: center;
}

/* SPOTLIGHT 2 */
.spotlight2 .caption {
  font-size: 1em;
}

/* JOIN */
.join {
  display: block;
  grid-column: 1 / span 3;
  grid-row: 4;
  width: auto;
}

/* EVENT */
.event {
  grid-column: 1 / span 2;
  grid-row: 5;
  float: left;
  background-color: #d8e1d3;
  text-align: center;
  line-height: 1.5em;
  padding: 25px;
  width: 100%;
  margin: 20px 0 0 0;
}

/* WEATHER */
.weather {
  grid-column: 3;
  grid-row: 5;
  float: right;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
  align-items: center;
}

#degrees {
  padding: 0px;
  margin: 0;
}

#weather_icon {
  width: 125px;
  height: auto;
  padding: 0px;
  margin: 0;
}

.weather_information {
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
}

}