* {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    font-size: 16px;
    font-weight: 400;
    color: #231F20;
    margin: 0;
    width: 100%;
  }

  h1 {
    font-weight: 700;
    color: #231f20;
    text-align: center;
    font-size: 2em;
  }
  
  h2 {
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    color: #231f20;
  }
  
  h3 {
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    color: #231F20;
  }
  
  h4 {
    font-weight: 700;
    font-size: 1em;
  }

  h5 {
    font-weight: 500;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    color: #231F20;
  }

  /* ////// NAVIGATION //////// */
nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #231F20;
}

nav {
  background-color: #00495f;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  color: #231F20;
}

.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: 1rem 2vw;
  font-weight: 600;
  text-decoration: none;
  color: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, .5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: #cabb98;
}

#hamburgerBtn {
  color: #fff;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display:none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display:block;
}

/* ////// HEADER //////// */
  header {
    background-color: #00495f;
    width: 100%;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .title img {
    width: 20%;
    padding: 1em;
  }
  
  header .title h1 {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    color: #fff;
  }

  header h5 {
    color: #fff;
    font-size: .75em;
    padding: .5em;
    margin: 0;
  }

  /* ////// HERO IMAGE //////// */
  main .home {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .market {
    position: relative;
    align-items: center;
    width: auto;
    margin: 0px;
  }

  .hero_image {
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .market h1 {
    position: absolute;
    top: 130px;
    left: 85px;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    font-size: 1em;
    padding: .5em;
  }

  /* ////// MARKET ICONS //////// */
  .market_icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .15fr;
    margin: 20px;
    align-content: center;
    justify-content: space-evenly;
  }

  .market_icons img {
    background-color: #BFB96E;
    padding: 1em;
    width: 65%;
  }

  .market_icons h2 {
    font-size: .75em;
    padding: 1em;
    margin: 0;
  }

  /* ////// MARKET INFORMATION //////// */

  .market_info {
    background-color: #BFB96E;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin: 0;
  }

