@media (min-width:950px) {
    .title {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    
      #logo_tag {
        padding: 0;
        margin: 0;
      }
      .title img {
        width: 10%;
        margin: 0;
        padding-left: 2em;
        float: left;
      }
      
      header .title h1 {
        font-size: 2em;
      }
    
      header h5 {
        font-size: 1em;
      }

      /* ////// HERO IMAGE //////// */
  main .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
  }

  .hero {
    grid-column: 1 / span 2;
    grid-row: 1;
    position: relative;
  }

  .hero h1 {
    position: absolute;
    top: 225px;
    left: 150px;
    background-color: rgba(255, 255, 255, .7);
    padding: .5em;
    border-radius: 12px;
  }

  /* ////// MARKET //////// */
  #market {
    grid-column: 3;
    grid-row: 1;
  }

  /* ////// LINK SECTIONS //////// */
    .section_links {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
   }

   /* ////// WEATHER //////// */
  .weather {
    grid-column: 1;
    grid-row: 3;
    margin-left: 1em;
  }

  .strawberry-field {
    grid-column: 2 / span 3;
    grid-row: 3;
  }

/* ////// LOCATION //////// */
  #carlsbad {
    grid-column: 1 / span 3;
    grid-row: 4;
    margin-top: 30px;
  }

  /* ////// FOOTER //////// */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social_media {
    align-items: center;
  }

  .social_media img {
    padding: 1em;
  }
  

  
    

}