@media (min-width 32.5em) {
    header h1 {
        font-weight: 800;
        font-size: 2em;
    }

      header {
        background-color: rgb(60,69,98);
        border-radius: 10px;
        height: 250px;
    }  

    header .family-pic .name{
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
    
    header .name{
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        position: relative;
        top: -150px;
        left: 50px;
        text-shadow: 10px 10px 30px #666666;
      }

}