/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@300;600;700&display=swap');

h1, h2{
  font-family: 'Raleway';
  font-weight: 600;
}

h3, h4, h5, h6{
  font-family: 'Raleway';
  font-weight: 300;
}

/* Profile */
header {
  background-color: rgb(60,69,98);
  border-radius: 10px;
  min-width: 600px;
  max-width: 1200px;
  height: 250px;
  
}

header .family-pic .name{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

header .name{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    position: relative;
    top: -150px;
    left: 50px;
    text-shadow: 4px 2px 6px #666666;
  }

.family-pic {
  width: 200px;
  padding: 25px;
}

h1{
  font-family: 'Raleway', sans-serif;
  color: white;
}

/* Main */
body{
  margin: auto;
  width: 50%;
}

.assignment-title {
  color: rgb(60, 69, 98);
  border-bottom: 2px solid rgb(60,69,98);
}

main {
  font-family: 'PT Serif';
  line-height: 150%;
}
/* footer */
.footer{
  background-color: rgb(60,69,98);
  font-weight: 300;
  line-height: 125%;
  align-content: center;
  color: white;
  }

.footer h3 {
align-content: center;
padding: 25px;
font-size: 10pt;
}